.container {
  border: 2px solid rgb(49, 191, 63);
  display: grid;
  grid-template-columns: [pehla] 100px [dusra] 100px [thesra];
  grid-template-rows: 100px 100px;
}
.item {
  border: 2px solid red;
  /* height: 55px;
    width: 55px; */
}
.item-4 {
  background-color: aqua;
  /* items by default grid mai pace kare jayennge  */
  grid-column: 1/2;
  /* this means ki yeh jayega column 1 to 2   */
  grid-row: 1/2;
  /* this means ki yeh jayega column 1 to 2  */
}
/* and we can also obverlap this with another item by giving it the same column and row  */
.item-1 {
  background-color: aqua;
  grid-column: 1/2;
  /* this means ki yeh jayega column 1 to 2   */
  grid-row: 1/2;
  /* this means ki yeh jayega column 1 to 2  */
  /* or you can do  */
  /* grid-row-start: 1;
            grid-row-end: 2; */
}
/* hamne yaha  height and wdith set kar rakhi hai isliye yeh pura column ma set nai ho raha hai agar ham usse hata de toh voh set acc to coumn and rows ho jayega  */
.item-3 {
  grid-column: 1/3;
  grid-rows: 1/3;
}
